parameters: 
    level: 5
    paths: 
        - src/Controller/Transport
        - src/Service/AiTransportRecommendationService.php
        - src/Service/SmsService.php
        - src/Service/WeatherService.php
    treatPhpDocTypesAsCertain: false